#app {
    display: flex;
    flex-direction: column;
}
.racelog {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
}

.racelog > label {
    display: flex;
    flex-direction: column;
    flex: 1;
}

label > span {
    display: block;
    font-weight: 600;
}

label > textarea {
    width: 100%;
    flex: 1;
}